<template>
    <div>
      <Slider></Slider>
      <MainFeatures></MainFeatures>
      <Packs></Packs>
      <Testimonials></Testimonials>
    </div>
</template>

<script lang='ts'>
import { Component, Vue } from "nuxt-property-decorator";

import Slider from "~/components/Slider.vue";
import MainFeatures from "~/components/MainFeatures.vue";
import Packs from "~/components/Packs.vue";
import Testimonials from "~/components/Testimonials.vue";

function later(delay) {
  return new Promise(function(resolve) {
    setTimeout(resolve, delay);
  });
}

@Component({
  components: {
    Slider,
    MainFeatures,
    Packs,
    Testimonials
  }
})
export default class Home extends Vue {
}
</script>

