<template>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <nuxt-link to="/" id="logo">OrhtoPlus</nuxt-link>
                    <!-- <a href="/" id="logo"></a> -->
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <div v-if="$store.state.isLogged" class="pull-right"><a v-on:click="$store.dispatch('logout')" class="button_top" id="login_top">{{ $store.state.firstname }} {{ $store.state.lastname }}</a></div>                        
                    <div v-if="!$store.state.isLogged" class="pull-right"><a v-on:click="$store.dispatch('login')" class="button_top" id="login_top">Sign in</a> <a href="apply_2.html" class="button_top hidden-xs" id="apply">Apply now</a></div>
                    <ul id="top_nav" class="hidden-xs">
                        <li><a href="about_us.html">About</a></li>
                        <li><a href="apply.html">Wizard Apply</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

@Component
export default class Header extends Vue {}
</script>
