<template>
    <section id="main-features">
    <div class="divider_top_black"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-10 col-md-offset-1 text-center">
                <h2>Cours d'orthographe <br>en ligne</h2>
                <p class="lead">
                    OrhtoPlus, c'est une équipe de professeurs disponibles pour <span style="color:#ec4231; font-weight: bold">améliorer</span> votre orthographe.<br>
                    Vous faire progresser, tel est notre objectif.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-trophy"></i>
                    <h3>Des professeurs spécialisés</h3>
                    <p>
                        Profitez de nos professeurs pour améliorer votre orthographe.  Ils possèdent tous une maîtrise en Littérature et ont suivi une formation spécifique à la pédagogie d'OrthoPlus.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class=" icon-ok-4"></i>
                    <h3>Une pédagogie optimisée</h3>
                    <p>
                        "80% des fautes sont concetrées dans 10 règles de grammaires".  <br>A partir de ce constat, OrthoPlus a développé une pédagogie optimisée qui vous permettra d'améliorer rapidement votre orthographe.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-mic"></i>
                    <h3>Des résultats concrets</h3>
                    <p>
                        Grace à notre pédagogie unique, basée sur la pratique et la correction des fautes les plus couramment commises, vous constaterez rapidement une amélioration sensible de votre orthographe.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-video"></i>
                    <h3>Pour tout les niveaux</h3>
                    <p>
                        Nos formations sont adaptées à toutes les personnes désireuses de se débarasser des fautes d'orthographes. Etudiants, sans emplois, fonctionnaires, cadres ou dirigeants, <span style="color: white">OrhtoPlus est fait pour vous !</span>
                    </p>
                </div>
            </div>
        </div><!-- End row -->
        </div><!-- End container-->
    </section><!-- End main-features -->
</template>


<script lang="ts">
import { Component, Vue} from "nuxt-property-decorator"

@Component
export default class MainFeatures extends Vue {
}
</script>


