<template>
    <section id="main_content_gray">
    	<div class="container">
        	<div class="row">
            <div class="col-md-12 text-center">
                <h2>Nos formations</h2>
                <p class="lead">Choisissez le pack adapté à votre budget.</p>
            </div>
        </div><!-- End row -->

        <div class="row">

        			<div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-item">

                                <div class="photo">
                                    <a href="#"><img class="lazyload" data-src="/img/cours-1.jpg" alt="" /></a>
                                    <div class="cat_row"><a href="#">Découverte</a><span class="pull-right"><i class=" icon-clock"></i>2 semaines</span></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="course_info col-md-12 col-sm-12">
                                            <h4>2 Cours</h4>
                                            <p > Découvrez notre pédagogie et maîtrisez les règles de grammaires qui vous font le plus défaut. <br>&nbsp;</p>

                                            <div class="price pull-right">60 €</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-item">
                                <span class="ribbon_course"></span>
                                <div class="photo">
                                    <a href="#"><img class="lazyload" data-src="/img/cours-3.jpg" alt="" /></a>
                                    <div class="cat_row"><a href="#">Entre-deux</a><span class="pull-right"><i class=" icon-clock"></i>3 semaines</span></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="course_info col-md-12 col-sm-12">
                                            <h4>6 cours</h4>
                                            <p >Grace aux 6 cours de la formule "entre-deux", vous parcourrerez les bases de la grammaire françaices. <br>&nbsp; </p>
                                        <div class="price pull-right">160 €</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <a href="#"><img class="lazyload" data-src="/img/cours-4.jpg" alt="" /></a>
                                    <div class="cat_row"><a href="#">Intensif</a><span class="pull-right"><i class=" icon-clock"></i>6 semaines</span></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="course_info col-md-12 col-sm-12">
                                            <h4>18 cours</h4>
                                            <p>Une formation intensive de 18 cours durant 6 semaines pour faire un maximum de progrès en un minimum de temps !</p>
                                        <div class="price pull-right">410 €</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <a href="#"><img class="lazyload" data-src="/img/cours-6.jpg" alt="" /></a>
                                    <div class="cat_row"><a href="#">Entreprise</a><span class="pull-right"><i class=" icon-clock"></i>Durée Illimitée</span></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="course_info col-md-12 col-sm-12">
                                            <h4>50 cours</h4>
                                            <p >Améliorez l'orthographe de vos employés en leur offrant 50 cours individuels à répartir librement. <br>&nbsp;</p>
                                        <div class="price pull-right">1400 €</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

        </div><!-- End row -->
         </div>   <!-- End container -->
        </section><!-- End section gray -->
</template>


<script lang="ts">
import { Component, Vue} from "nuxt-property-decorator"

@Component
export default class Packs extends Vue {
}
</script>
