<template>
    <section class="tp-banner-container">
		<div class="tp-banner" >
			<ul class="sliderwrapper">	<!-- SLIDE  -->
				<li data-transition="fade" data-slotamount="4" data-masterspeed="1500" >
					<!-- MAIN IMAGE -->
					<img src="/img/sliderimages/dummy.png" data-lazyload="/img/sliderimages/slide_5-800.jpg" alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption skewfromrightshort customout"
						data-x="center"
						data-y="center"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 2"><img src="/img/sliderimages/logo.png" alt="">
					</div>

                    <!-- LAYER NR. 2 -->
<!--
					<div class="tp-caption medium_bg_darkblue skewfromleft customout"
						data-x="left"
						data-y="190"
                        data-hoffset="30"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1500"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 6">PHP Working Subscription
					</div>
-->

					<!-- LAYER NR. 3 -->
<!--
					<div class="tp-caption medium_bg_darkblue skewfromleft customout"
						data-x="left"
						data-y="245"
                        data-hoffset="30"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1500"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 6">PHP Working wizard
					</div>
-->

                    <!-- LAYER NR. 3 -->
<!--
					<div class="tp-caption medium_bg_darkblue skewfromleft customout"
						data-x="left"
						data-y="300"
                        data-hoffset="30"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1500"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 6">PHP Working newsletter
					</div>
-->

					<!-- LAYER NR. 4 -->
<!--
					<div class="tp-caption medium_bg_darkblue skewfromright customout"
						data-x="right"
						data-y="190"
                        data-hoffset="-30"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1800"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 8">Four Home pages
					</div>
-->

					<!-- LAYER NR. 5 -->
<!--
					<div class="tp-caption medium_bg_darkblue skewfromright customout"
						data-x="right"
						data-y="245"
                        data-hoffset="-30"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1800"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 8">Course timeline
					</div>
-->

                    <!-- LAYER NR. 3 -->
<!--
					<div class="tp-caption medium_bg_darkblue skewfromleft customout"
						data-x="right"
						data-y="300"
                        data-hoffset="-30"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1800"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 6">20 HTML pages
					</div>
-->
				</li>
                <!-- SLIDE  -->
				<li data-transition="zoomout" data-slotamount="4" data-masterspeed="1000" >
					<!-- MAIN IMAGE -->
					<img src="/img/sliderimages/dummy.png" data-lazyload="/img/sliderimages/slide_6-800.jpg" alt="slidebg2"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption medium_light_white skewfromrightshort customout"
						data-x="80"
						data-y="96"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="800"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 4">Améliorez votre orthographe
					</div>

					<!-- LAYER NR. 2 -->
<!--
					<div class="tp-caption medium_thin_white skewfromleftshort customout"
						data-x="235"
						data-y="110"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="900"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 5">Améliorez
					</div>
-->

					<!-- LAYER NR. 3 -->
					<div class="tp-caption large_bold_white skewfromleftshort customout"
						data-x="80"
						data-y="152"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="300"
						data-start="1100"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 7">avec notre équipe de professeurs
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption small_thin_white  customin customout"
						data-x="80"
						data-y="240"
						data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1300"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 8">Notre équipe de professeurs en ligne est là pour<br>
                        améliorer votre orthographe.  <br><br>
                        Grace à des cycles pratiques de dictées et de<br>
                        corrections, nous corrigerons <br>
                        ensemble chacune de vos erreurs et <br>
                        reverrons ensembles les règles associées.
					</div>
				</li>

                <!-- SLIDE  -->
				<li data-transition="cube-horizontal" data-slotamount="4" data-masterspeed="1000" >
					<!-- MAIN IMAGE -->
					<img src="/img/sliderimages/dummy.png" data-lazyload="/img/sliderimages/slide_1-800.jpg" alt="slidebg3"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption medium_light_white skewfromrightshort customout"
						data-x="80"
						data-y="96"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="800"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 4">80% des fautes
					</div>

					<!-- LAYER NR. 2 -->
<!--
					<div class="tp-caption medium_thin_white skewfromleftshort customout"
						data-x="235"
						data-y="110"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="900"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 5">&
					</div>
-->

					<!-- LAYER NR. 3 -->
					<div class="tp-caption large_bold_white skewfromleftshort customout"
						data-x="80"
						data-y="152"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="300"
						data-start="1100"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 7">10 règles de grammaires
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption small_thin_white  customin customout"
						data-x="80"
						data-y="240"
						data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1300"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 8">Ortho<span style="color:#ec4231; font-weight: bold">Plus</span> a développé pour vous une pédagogie spécifique basée sur <br>
                        un constat : <span style="text-decoration: underline">"80% des fautes sont concentrées dans 10 règles de grammaire."</span><br>
                        <br>
                        Maîtrisez ces 10 règles et votre orthographe s'en retrouvera nettement améliorée.


					</div>
				</li>

                 <!-- SLIDE  -->
				<li data-transition="zoomin" data-slotamount="4" data-masterspeed="1000" >
					<!-- MAIN IMAGE -->
					<img src="/img/sliderimages/dummy.png" data-lazyload="/img/sliderimages/slide_7-800.jpg" alt="slidebg4"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->

					<!-- LAYER NR. 10 -->
					<div class="tp-caption large_bold_white customin customout"
						data-x="center" data-hoffset="0"
						data-y="160"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="1700"
						data-easing="Back.easeInOut"
						data-endspeed="300"
						style="z-index: 11; text-align: center">J'écris sans faute.
					</div>

					<!-- LAYER NR. 11 -->
<!--
					<div class="tp-caption mediumlarge_light_white_center customin customout"
						data-x="center" data-hoffset="0"
						data-y="bottom" data-voffset="-200"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="1900"
						data-easing="Back.easeInOut"
						data-endspeed="300"
						style="z-index: 12">Faites le bon choix.
					</div>
-->
				</li>

			</ul>
			<div class="tp-bannertimer"></div>
		</div>
	</section><!-- End slider -->


</template>

<script lang="ts">
import { Component, Vue} from "nuxt-property-decorator"

@Component
export default class Slider extends Vue {
  public mounted() {
    const $ = (window as any).$;
    ($('.tp-banner') as any).revolution({
		delay: 9000,
		startwidth: 1700,
		startheight: 600,
		hideThumbs: true,
		navigationType: 'none',
		fullWidth: 'on',
		forceFullWidth: 'on',
		lazyType: "smart",		
    });
  }
	
}
</script>
