/*
Theme Name: 
Theme URI: http://www.ansonika.com/learn/
Author: Ansonika
Author URI: http://themeforest.net/user/Ansonika/
Version: 1.7

CSS STRUCTURE:

1. SITE STRUCTURE and TYPOGRAPHY
2. PAGES AND CONTENT
3. FORMS
4. COMMON
5. MEDIA QUERIES

/*============================================================================================*/
/* 1.  SITE STRUCTURE and TYPOGRAPHY */
/*============================================================================================*/
/* Fonts and Icons */
/* @import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700'); */
@import url('http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');
/* @import url('http://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('http://fonts.googleapis.com/css?family=Indie+Flower'); */


/* Structure */
body {
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	margin:0;
	background-color:#fff;
	color:#2d4050;
	-webkit-font-smoothing: antialiased !important;
}


header {
	background-color:#1c1c1c;
	border-bottom: 1px solid #272727;
	padding:15px 0;
}
ul#top_nav {
	list-style:none;
	padding:0;
	margin:10px 15px 0 0;
	font-size:12px;
	float:right;
}
ul#top_nav li a{
	color:#ccc;
}
ul#top_nav li a:hover{
	color:#fff;
}
ul#top_nav li:first-child{
	border-left: none;
}
ul#top_nav li {
	display:inline-block;
	border-left: 1px solid #333;
	height:12px;
	line-height:12px;
	padding-right:5px;
	padding-left:7px;
}
nav {
	background-color:#1c1c1c;
}
a#logo {
	width:230px;
	height:36px;
	background:url(/img/logo.png) no-repeat 0 0;
	text-indent:-9999px;
	display:block;
}

.divider_top{
	background:url(/img/top_divider.png) repeat-x center bottom;
	width:100%;
	height:37px;
	position:absolute;
	bottom:-8px;
	left:0;
}
.divider_top_black{
	background:url(/img/top_divider_black.png) repeat-x center bottom;
	width:100%;
	height:37px;
	position:absolute;
	top:-30px;
	left:0;
	z-index:999;
}
#sub-header{
	padding:30px 0 60px 0;
	color:#fff;
	position:relative;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	width:100%;
	background:#0cbdaa url(/img/bg_sub-header.png) repeat 0 0;
}

#main_content{
	padding:60px 0;
	background-color:#fff;
}
#main_content_gray{
	padding:60px 0 30px 0;
	background-color:#fafafa;
}


/* TYPOGRAPHY and links color */
p {
	margin-bottom:20px;
}
p.lead{
	font-weight:300;
}
p.lead.boxed{
	font-weight:600;
	font-size:30px;
	background-color: #333;
	display:inline-block;
	padding: 3px 12px;
}
a {
  color: #488dc6;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
  	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

h1 {
	text-transform:uppercase;
	font-weight:700;
	font-size:60px;
	margin:20px 0 0 0;
	padding:0;
}
#main_content h2, #main_content_gray h2 {
	text-transform:uppercase;
	font-weight:400;
	font-size:36px;
	margin-top:0;
}
#testimonials h2{
	text-transform:uppercase;
	color:#fff;
	font-size:60px;
	font-weight:normal;
	letter-spacing:5px;
}
#main-features h2 {
	text-transform:uppercase;
	color:#fff;
	font-size:48px;
	font-weight:normal;
	letter-spacing:5px;
	margin-top:0;
	padding-top:0;
}
#main_content .post h2{
	font-size:26px;
	line-height:28px;
}
#main-features p.lead{
	color:#fff;
	font-size:18px;
	margin-bottom:60px;
}
#main-features h3 {
	color:#fff;
	font-size:18px;
	font-weight:700;
}

footer h3{
	font-size:30px;
}
#nav-footer h4{
	text-transform:uppercase;
	font-size:18px;
}


/* #Site Footer */
footer {
	background:#1c1c1c url(/img/logo_footer.png) no-repeat center 60px;
	color:#fff;
	width:100%;
	padding-top:150px;
	text-align:center;
	font-size:13px;
}
#nav-footer ul{
	list-style:none;
	padding:0;
	margin:10px 0 20px 0;
}
ul#follow_us {
	list-style:none;
	padding:0;
	margin:10px 0 15px 0;
}
ul#follow_us  li{
	font-weight:600;
}
#nav-footer ul li a{
	color:#c6c6c7;
}
#nav-footer ul li a:hover, #nav-footer ul li a.active{
	color:#1dd7b2;
}
ul#follow_us  li{
	display: inline-block;
	margin-right:15px;
}
ul#follow_us  li a{
	width:34px;
	height:34px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #c6c6c7;
	color:#c6c6c7;
	display:block;
	line-height:32px;
	font-size:18px;
	text-align:center;
	font-weight:normal;
}
ul#follow_us li a:hover{
	border: 2px solid #fff;
	color:#fff;
}
#copy_right{
	background-color:#202020;
	padding:10px;
	color:#555;
}
footer hr{
	border-color:#2a2a2a;
	margin-top:60px;
}
.phone{
	font-size:22px; color:#F66
}

/* Buttons */
a.button_top {
	border:none;
	margin-top:5px;
	background:#292929;
	color:#fff;
	font-size:11px;
	padding:5px 16px 2px 16px;
	text-decoration:none; 
	transition: background .5s ease; 
	-moz-transition: background .5s ease; 
	-webkit-transition: background .5s ease; 
	-o-transition: background .5s ease; 
	display:inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor:pointer;
	outline:none;
	font-weight:700;
	text-transform:uppercase;
	-webkit-font-smoothing: antialiased;
}
a.button_top#apply {
	border:none;
	margin-top:5px;
	background: #F66;
	
}
a.button_top:hover {background:#30d9a4; color:#fff;}

a.button_subscribe_green, .button_subscribe_green {
	border:none;
	background:#30d9a4;
	color:#fff;
	padding:12px 20px;
	text-decoration:none; 
	transition: background .5s ease; 
	-moz-transition: background .5s ease; 
	-webkit-transition: background .5s ease; 
	-o-transition: background .5s ease; 
	display:inline-block;
	cursor:pointer;
	outline:none;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:20px;
	-webkit-font-smoothing: antialiased;
}
a.button_subscribe_green:hover, .button_subscribe_green:hover {background:#262c2d;}

a.button_medium_outline, .button_medium_outline {
	border:none;
	background:none;
	color:#1dd7b2;
	border:2px solid #1dd7b2;
	padding:5px 10px;
	text-decoration:none; 
	transition: .5s ease; 
	-moz-transition: .5s ease; 
	-webkit-transition:.5s ease; 
	-o-transition: .5s ease; 
	display:inline-block;
	cursor:pointer;
	outline:none;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:20px;
	-webkit-font-smoothing: antialiased;
}
a.button_medium_outline:hover, .button_medium_outline:hover { color:#262c2d; border:2px solid #262c2d;}

.button_outline, a.button_outline {
	border:2px solid #1dd7b2;
	background:none;
	color:#1dd7b2;
	outline:none;
	padding:13px 24px 13px 24px;
	text-decoration:none; 
	transition: background .5s ease; 
	-moz-transition: background .5s ease; 
	-webkit-transition: background .5s ease; 
	-o-transition: background .5s ease;
	display:inline-block;
	cursor:pointer;
	font-weight:600;
	font-size:16px;
	text-transform:uppercase;
	-webkit-font-smoothing: antialiased;
	outline:none;
	
}
.button_outline:hover, a.button_outline:hover {background:#1dd7b2; color:#fff;}


/** Wizard Buttons **/

/*============================================================================================*/
/* 2.  PAGES AND CONTENT */
/*============================================================================================*/
/* #home ========== */
.divider_top_black{
	background:url(/img/top_divider_black.png) repeat-x center bottom;
	width:100%;
	height:37px;
	position:absolute;
	top:-30px;
	left:0;
	z-index:999;
}
#main-features {
	background:#1c1c1c url(/img/bg_sub-header_2.png) repeat 0 0;
	position:relative;
	color:#8c8c8c;
	font-weight:600;
	padding:60px 0;
}
.feature {
	padding-left: 95px;
	position:relative;
}
.feature i{
	margin:0;
	position:absolute; 
	top:0;
	left:0;
	padding:0;
	margin:0;
	width:65px;
	height:65px;
	line-height:60px;
	text-align:center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border:2px solid #fff;
	font-size:26px;
	color:#1abc9c;
}
#testimonials {
	background: #1abc9c url(/img/users_bg.jpg) repeat 0 0;
	padding:60px 0;
	color:#fff;
	}

/*LATEST COURSES*/
.cat_row{
	background:#f8f8f8;
	padding: 7px 7px 5px 7px;
	font-size:12px;
	font-weight:600;
}
.cat_row .pull-right{color:#999;}
.cat_row i{
	font-size:14px;
	margin-left:5px;
	margin-right:2px;
}
.cat_row a:hover{text-decoration:none;}
.ribbon_course{
	position:absolute;
	left:-5px;
	top:-5px;
	display:block;
	width:99px;
	height:97px;
	background:url(/img/ribbon.png) no-repeat;
}
.col-item{
    border: 1px solid #ededed;
    background: #FFF;
	margin-bottom:25px;
	position:relative;
}
.col-item .photo img{
    margin: 0 auto;
    width: 100%;
}

.col-item .info{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item .course_info {
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .course_info  h4{
    line-height: 20px;
    margin: 0 0 10px 0;
}
.course_info  p{
	font-size:13px;
	line-height: 18px;
}
.price{
	margin-top:0px;
    margin-bottom:10px;
	font-weight:700;
	color:#999;
	font-size:29px;
}
/*SEARCH BAR*/

/*SEARCH BAR 2*/
.sb-search {
	position: relative;
	margin-top: 5px;
	width: 0%;
	min-width: 36px;
	height: 36px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	margin-right:-15px;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: none;
	border-bottom:1px solid #ccc;
	width: 100%;
	height: 36px;
	margin: 0;
	z-index: 10;
	padding: 10px 45px 10px 0;
	font-family: inherit;
	color: #ccc;
}

.sb-search-input::-webkit-input-placeholder {
	color: #ccc;
}

.sb-search-input:-moz-placeholder {
	color: #ccc;
}

.sb-search-input::-moz-placeholder {
	color: #ccc;
}

.sb-search-input:-ms-input-placeholder {
	color: #ccc;
}

.sb-icon-search,
.sb-search-submit  {
	width: 36px;
	height: 36px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background: #1c1c1c;
	z-index: 90;
	font-size: 22px;
	font-family: 'fontello';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\e806";
}

/* Open state */

/* #home with subscription ========== */
/* #home with video ========== */
.video {
	margin-top:30px;
}

/* #about us ======== */
.caption {background: #f2f2f2;}

/* #course grid page
================================================ */

/* #login and register
================================================ */

#login {
	background-color:#fff;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 5 rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	padding:30px;
}
/* #lwizard apply */
#complete{
	text-align:center;
	padding: 0 45px 35px 45px;
}
#complete h3{
	text-align:center;
	margin-bottom:40px
}
#complete i {
	color:#cacaca;
	margin: 0 0 10px 0;
	font-size:160px;
	padding:0;
}
#complete button{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:18px;
	border:2px solid  #8dc63f;
	color:#8dc63f;
	padding:15px 35px;
	text-decoration:none; 
	transition: background .5s ease; 
	-moz-transition: background .5s ease; 
	-webkit-transition: background .5s ease; 
	-o-transition: background .5s ease; 
	display:inline-block;
	cursor:pointer;
	font-weight:600;
	text-transform:uppercase;
	outline:none;
	background:#fff;
}
#complete button:hover{background:#00aeef; color:#fff; border:2px solid  #00aeef;}

/** Floated inputs: ex the gender radio ==================== **/  


/** Errors validation styles and position ==================== **/   

/** Common style**/ 

/** Error styles for survey questions**/  
/* #teachers
================================================ */
/* #course details
================================================ */
/* #Blog
================================================ */
.post {
	margin-bottom:45px;
}
.post img {
	margin-bottom:18px;
}
/* #Contact
================================================ */
#map {width:100%; height:450px;}
ul#contact-info {
	list-style:none;
	margin:0 0 20px 0;
	padding:0;
}
.box_style_2 {
	background:#f9f9f9;
	border:1px solid #f3f3f3;
	padding:30px;
	position:relative;
}
.tape {
	position:absolute;
	left:0;
	top:-20px;
	height:45px;
	width:100%;
	background:url(/img/tape.png) no-repeat center top;
	display:block;
}

/* #News
================================================ */
/*============================================================================================*/
/* 3.  FORMS */
/*============================================================================================*/
/** Drop down select: ex Country select ==================== **/
.styled-select select {
   background: transparent;
   width:107%;
   padding: 5px;
   padding-left:15px;
   border: 0;
   border-radius: 0;
   height: 41px;
   margin:0;
  	font-weight:400;
	-moz-appearance: window;
    -webkit-appearance: none;
    cursor: pointer;
		color:#999;
   }
.styled-select {
   width: 100%;
      overflow:hidden;
   height: 44px;
   background: #fff url(/img/down_arrow_select.png) no-repeat  right center ;
	border:1px solid #ededed;
	margin-bottom:25px;
   } 
.styled-select select::-ms-expand {display: none;}

/** VERSION 1.3 CSS Updated ==================== **/	
.input-icon{position:absolute; right:8px; top:10px; width:32px; height:24px; background-color:#fff; text-align:right; border-left: 1px solid #ececec; color:#ccc; font-size:18px; line-height:24px; text-shadow:none;} 
/**  End Version 1.3 Updated  **/	

.input-icon i { color:#ccc; font-size:18px; line-height:24px;}
.form-group { position:relative; margin-bottom:20px;}
.form-control {height: 38px; -webkit-box-shadow: none; box-shadow: none; -webkit-appearance: none; }

.form-control::-moz-placeholder { color: #999; opacity:1;}
.form-control::-webkit-input-placeholder {color: #999;}

input.form-control, textarea.form-control {
	background:none;
	background-color:#fff;
	border:1px solid #ececec;
	border-radius: 0;
	 -webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
  	color: #a0a0a0;
	height:44px;
	font-size:14px;
	font-weight:400;
	margin-bottom:25px;
	font-family: 'Raleway', Arial, sans-serif;
	line-height: 1.428571429;
	padding: 6px 12px;
}
input.form-control:focus, textarea.form-control:focus, select.form-control:focus {
  border-color:none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color:#555;
}
/* Newsletter */
input.form-control#email_newsletter {
margin-bottom:0; 
background-color:#262626;
border:none;
height:52px;
width:380px;
padding-left:25px;
color:#676767;
margin-top:-3px;
}
input.form-control#email_newsletter:focus {
  border-color:none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color:#fff;
}
/* Plans price style =============================*/
/** VERSION 1.3 CSS New ==================== **/	
/* Pricing tables */
/**User logged panel on header  **/

/** Member page +  teacher profile  **/
.profile ul{
	text-transform:none;
	font-size:14px;
	list-style:none;
	padding:0;
	margin:0 0 20px 0;
}
.profile ul li{
	border-bottom:1px solid #ededed;
	padding:5px 0;
}
.profile ul li:last-child{
	border-bottom:none;
}

#profile{ padding-top:20px;}
html #boxed  {
	width:1170px;
	margin:auto;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px#000;
	box-shadow: 0 0 5px #000;
}
 body#boxed  {
	 background: #999 url(/img/pattern_1.png) repeat;
}
/**  End Version 1.3 New ====================== **/	

/** VERSION 1.5 CSS Updated ==================== **/	
/* Revolution slider fix */
ul.sliderwrapper { display:none}
/* Gallery page */
/**  End Version 1.5 CSS Updated  ====================== **/	

/*============================================================================================*/
/* 4.  COMMON */
/*============================================================================================*/

#join {
	background:url(/img/pattern_2.png) repeat 0 0;
	padding:60px 0;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
  font-weight:600;
}
#quote-carousel small{
	color:#fff;
	font-style:italic;
}

/* Control buttons  */
/* Previous button  */
/* Next button  */
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
  background: #fff;
  border:none;
}
#quote-carousel .carousel-indicators .active {
  background: #1c1c1c;
}
#quote-carousel img{
  width: 100px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\ebe7";
    font-family: 'fontello';
    float: left;
    margin-right: 10px;
}

/** Collapse **/

/** tabs **/

/** List styles **/


/*============================================================================================*/
/* 5.  MEDIA QUERIES */
/*============================================================================================*/

@media (min-width: 768px) and (max-width: 1200px) {
/** VERSION 1.3 CSS New ==================== **/	
#boxed  {width:980px;}
/**  End Version 1.3 New  **/
}
@media (min-width: 768px) and (max-width: 979px) {

#quote-carousel {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
	
/** VERSION 1.3 CSS New ==================== **/
html #boxed  {width:760px;}
/**  End Version 1.3 New  **/
}
	
/* From tablet portrait to mobile */
@media (max-width: 767px)  {
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
input.form-control#email_newsletter {
width:80%;
margin:auto;
margin-bottom:15px; 
}
#apply{margin-right:40px;}
#login_top{margin-right:40px;}

#main_content .post h2{
	font-size:20px;
	line-height:22px;
}
/* Typography*/
p.lead.boxed{
	font-size:22px;
	line-height:24px;
	padding:8px;
}
/** VERSION 1.3 CSS New ==================== **/
html #boxed  {width:100%}
/**  End Version 1.3 New  **/	
}	

/* Mobile portrait */
@media (max-width: 480px) {
	a#logo {
	width:37px;
	height:36px;
	background:url(/img/logo_mobile.png) no-repeat 0 0;
}
/* Typography*/
h1 {
	font-size:36px;
	line-height:38px;
	margin-bottom:10px;
}
#main-features h2 {
	font-size:28px;
}
#main-features p.lead{
	font-size:14px;
	margin-bottom:30px;
}
#main_content h2, #main_content_gray h2 {
	font-size:24px;
}
#testimonials h2{
	font-size:28px;
}
p.lead.boxed{
	font-size:14px;
	line-height:16px;
	padding:8px;
}
footer h3 {
	font-size:22px;
	line-height:24px;
} 
#complete{padding: 0 25px 15px 25px;}
#complete h3{ font-size:18px; margin-bottom:20px}
#complete i {font-size:80px;padding:0;}

#map {height:200px;}

#sub-header{
	padding:10px 0 60px 0;
}
/** VERSION 1.5 CSS New ==================== **/
 /** End 1.5 CSS New ==================== **/	
}

/* Mobile Portrait */
@media only screen and (max-width: 320px) {

.step h3 {font-size:18px;line-height:22px; margin-bottom:20px}
#complete h3{ font-size:18px; margin-bottom:20px}
#complete{padding: 0 15px 15px 15px;}

}


.cat_row a {
    font-size: 17px
}