<template>
    <div>
        <Header></Header>
        <Nav></Nav>
        <nuxt-child :key="1"/>
        <Footer></Footer> 
    </div>
</template>


<script lang='ts'>
import { Component, Vue} from "nuxt-property-decorator"

import Header from '~/components/Header.vue';
import Nav from '~/components/Nav.vue';
import Footer from '~/components/Footer.vue';

@Component({
  components: {
    Header,
    Nav,
    Footer,
  }
})

export default class App extends Vue {
  async fetch ({ store, params }) {
    await store.dispatch('get');
  }  
}

</script>